@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;

        --survey-card-bg: #dddddd;
        --survey-card-header-bg: #ababab;
        --survey-card-border-radius: 0.5rem;

        --survey-card-invalid-bg: #f8d7da;
        --survey-error-text-color: #721c24;
        --survey-warning-text-color: #856404;


    }

    .infectieradar-nl {
        --survey-card-bg: #e3d9cd;
    }
}

@layer utilities {
    .fst-italic {
        @apply italic;
    }

    .fs-small {
        @apply text-sm;
    }

    .text-decoration-underline {
        @apply underline;
    }

    .sticky-top {
        @apply sticky top-0;
    }
}