@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;

        --survey-card-bg: #234531;

    }

    .infectieradar-nl {
        --survey-card-bg: #564532;
    }
}

@layer utilities {
    .fst-italic {
        @apply italic;
    }

    .fs-small {
        @apply text-sm;
    }

    .text-decoration-underline {
        @apply underline;
    }

    .sticky-top {
        @apply sticky top-0;
    }
}